@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
}

/* Utility class to hide the scrollbar  */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
