<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

<body class="font-inter">
    <%- include('partials/leftNavigation.ejs') %>
    <main id="main-content" 
          class="relative left-60 w-[calc(100%-15rem)] bg-mainBg h-screen 
          p-6 break-words phone:left-0 phone:w-full">
        <div id="content-wrapper">
            <!-- Content goes here -->
        </div>
    </main>
    <div id="dark-separator" class="fixed top-0 bottom-0 w-screen h-screen bg-black opacity-20 invisible"></div>
</body>
</html>
