<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/output.css">
    <link rel="shortcut icon" href="#">
    <link rel="icon" href="images/Logo.png" type="image/png">
    <title>Welcome to ProjectNexus</title>
</head>
<body class="bg-stone-200">
    <%- include('partials/leftNavigation.ejs') %>
    <!-- <div class="container">
        <div class="grid-cols-1 justify-items-center">
            <div class="grid-row bg-slate-400">
                Hola
            </div>
        </div>
    </div> -->
</body>
</html>