<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

<body class="font-inter">
<%- include('partials/leftNavigation.ejs') %>
<main id="main-content" class="relative left-60 w-[calc(100%-15rem)] bg-mainBg h-screen
                        p-6 break-words phone:left-0 phone:w-full overflow-y-scroll overflow-x-hidden custom-scrollbar">
    <div id="content-wrapper">
        <!-- Content goes here -->

        <div class="flex justify-end">
            <img class="w-20" src="/images/dh_logo.png" alt="">
        </div>

        <div class="w-96 flex items-center mx-12 mt-8 mb-24">
            <i class="bx bx-edit text-4xl"></i>
            <h1 class="text-xl pl-3">Modify Member</h1>
        </div>

        <form id="modify-member-form" class="w-full flex items-center justify-center">
            <div class="w-full px-12 phone:p-3">
                <div class="w-full flex justify-end md:w-1/2 px-3 mb-1">
                    <div class="relative w-full">
                        <div class="absolute inset-y-4 right-5 flex w-full pointer-events-none justify-end">
                            <i class='bx bx-user'></i>
                        </div>
                        <input class="hover:cursor-text mx-auto w-full block border p-0 bg-gray-200 text-gray-700 border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none hover:bg-white hover:border-gray-500 duration-500" 
                               id="member_name" name="userName" type="text"
                               placeholder="Name" value="<%=name%>" required>
                    </div>
                </div>

                <div class="w-full flex justify-end md:w-1/2 px-3 mb-1">
                    <div class="relative w-full">
                        <div class="absolute inset-y-4 right-5 flex w-full pointer-events-none justify-end">
                            <i class='bx bx-envelope'></i>
                        </div>
                        <input class="hover:cursor-text mx-auto w-full block border p-0 bg-gray-200 text-gray-700 border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none hover:bg-white hover:border-gray-500 duration-500" 
                                id="email" name="email" type="email"
                                placeholder="Email" value="<%=email%>" required>
                    </div>
                </div>


                <!--Dropdown of area-->
                <div class="w-full md:w-1/2 px-3 mb-6">
                    <select name="team" id="area" form="modify-member-form"
                            class="hover:cursor-pointer mx-auto w-full block border p-0 bg-gray-200 text-gray-700 border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none hover:bg-white hover:border-gray-500 duration-500">
                        <%if (team === 'BE'){%>
                            <option value="BE" selected>Backend</option>
                            <option value="FE">Frontend</option>
                        <%}%>
                        <%if (team === 'FE'){%>
                            <option value="BE">Backend</option>
                            <option value="FE" selected>Frontend</option>
                        <%}%>
                    </select>
                </div>

                <div class="grid justify-items-center">
                    <button class="w-[8rem] h-[2.6rem] bg-accent-1 text-white rounded-[3px] text-sm hover:bg-white hover:text-accent-1 duration-300 shadow-sm">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
<div id="dark-separator" class="fixed top-0 bottom-0 w-screen h-screen bg-black opacity-20 hidden"></div>

<script type="module" src="/scripts/modifyMember.js"></script>
</body>

</html>