<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body class="font-inter">
        <%- include('partials/leftNavigation.ejs') %>
            <main id="main-content"
                class="relative left-60 w-[calc(100%-15rem)] bg-mainBg h-screen 
                    p-6 break-words phone:left-0 phone:w-full overflow-y-scroll overflow-x-hidden custom-scrollbar">
                <div id="content-wrapper">
                    <div class="flex justify-end">
                        <img class="w-20" src="/images/dh_logo.png" alt="">
                    </div>
                    <div class="flex justify-around p-8 mt-4">
                        <div class="justify-start">
                            <p class="text-2xl">All projects</p>
                        </div>
                        <div class="justify-items-end w-4/12">
                            <div class="flex flex-row w-8/12">
                                <div class="w-10/12 mx-auto focus:outline-none text-center rounded-lg">
                                    <form>
                                        <label for="teamMember-search" class=""></label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search w-5 h-5" height="24"
                                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                                    stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                                    <path d="M21 21l-6 -6"></path>
                                            </div>
                                            <input type="search" id="teamMember-search" class="block pl-12 p-2 w-full focus:w-10/12 duration-700 bg-zinc-50 focus:outline focus:outline-slate-600 focus:outline-2 shadow-md rounded-lg" placeholder="Search Team Member">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
    </body>
</html>