<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body class="font-inter">
        <%- include('partials/leftNavigation.ejs') %>
            <main id="main-content"
                class="relative left-60 w-[calc(100%-15rem)] bg-mainBg h-screen 
                    p-6 break-words phone:left-0 phone:w-full overflow-y-scroll overflow-x-hidden custom-scrollbar">
                <div id="content-wrapper">
                    <div class="flex justify-end">
                        <img class="w-20" src="/images/dh_logo.png" alt="">
                    </div>
                </div>
            </main>
    </body>
</html>