<html lang="en">
<%- include('partials/head.ejs') %>
<body class="font-inter">
<%- include('partials/leftNavigation.ejs') %>
<main id="main-content"
      class="relative left-60 w-[calc(100%-15rem)] bg-mainBg h-screen
      p-6 break-words phone:left-0 phone:w-full overflow-y-scroll overflow-x-hidden">
    <div id="content-wrapper">

        <div class="flex justify-end">
            <img class="w-20" src="/images/dh_logo.png" alt="">
            </a>
        </div>

        <template id="agile-points">
            <div class="bg-black fixed flex flex-col items-center justify-center w-screen h-screen top-0 left-0 z-10 bg-opacity-10">
                <div class="bg-zinc-50 p-10 flex flex-col break-words items-center justify-between min-h-[14rem] w-[30rem] rounded-xl shadow-lg phone:max-w-[90vw] gap-5">
                    <ul id="dropDownMembers-< popupId %>" class="text-left overflow-y-auto overflow-x-clip custom-scrollbar max-h-[10rem] hover:opacity-90 w-full"></ul>
                    <div class="flex w-full gap-10 justify-center">
                        <button type="submit"
                                class="shadow-md bg-green-500 text-zinc-100 rounded-lg px-4 py-2 hover:bg-zinc-100 hover:text-green-500 hover:border-green-500 border-2 border-transparent duration-200">
                            Save
                        </button>
                        <button type="button"
                                class="shadow-md bg-zinc-100 text-red-500 rounded-lg px-4 py-2 hover:bg-red-500 hover:text-zinc-100 border-red-500 border-2 border-transparent duration-200">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </template>

        <template id="agile-points-list">
            <li class="p-2 text-[14px] border-b-2">
                <form class="flex justify-between m-0">
                    <div>
                        <span></span>
                        <input type="number" hidden>
                    </div>
                    <div class="flex justify-center gap-4">
                        <label>number</label>
                        <a type="up-btn" class="p-1 text-xl hover:text-zinc-950 hover:cursor-pointer hover:bg-gray-400 hover:border-gray-500 hover:rounded-md duration-500">
                            <i class="bx bx-chevron-up"></i>
                        </a>
                        <a type="down-btn" class="p-1 text-xl hover:text-zinc-950 hover:cursor-pointer hover:bg-gray-400 hover:border-gray-500 hover:rounded-md duration-500">
                            <i class="bx bx-chevron-down"></i>
                        </a>
                    </div>
                </form>
            </li>
        </template>

        <template id="member-list-item">
            <li class="p-2 text-[14px] hover:text-zinc-950 hover:cursor-pointer hover:bg-gray-400 hover:border-gray-500 hover:rounded-md duration-500">
                <input type="checkbox" name="${member.id_team_member}" id="${member.id_team_member}"  >
                <label for="${member.id_team_member}">${member.member_name}</label>
            </li>
        </template>

        <template id="add-member">
            <div class="bg-black fixed flex flex-col items-center justify-center w-screen h-screen top-0 left-0 z-10 bg-opacity-10">
                <form class="bg-zinc-50 p-10 flex flex-col break-words items-center justify-between min-h-[14rem] w-[30rem] rounded-xl shadow-lg phone:max-w-[90vw] gap-5">
                    <ul id="dropDownMembers-< popupId %>" class="text-left overflow-y-auto overflow-x-clip custom-scrollbar max-h-[10rem] hover:opacity-90 w-full"></ul>
                    <div class="flex w-full gap-10 justify-center">
                        <button type="submit"
                                class="shadow-md bg-green-500 text-zinc-100 rounded-lg px-4 py-2 hover:bg-zinc-100 hover:text-green-500 hover:border-green-500 border-2 border-transparent duration-200">
                            Save
                        </button>
                        <button type="button"
                                class="shadow-md bg-zinc-100 text-red-500 rounded-lg px-4 py-2 hover:bg-red-500 hover:text-zinc-100 border-red-500 border-2 border-transparent duration-200">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </template>

        <template id="confirmation-pop-up">
            <div class="bg-black fixed flex flex-col items-center justify-center w-screen h-screen top-0 left-0 z-10 bg-opacity-10">
                <div class="bg-zinc-50 p-10 flex flex-col break-words items-center justify-between min-h-[14rem] w-[30rem] rounded-xl shadow-lg phone:max-w-[90vw] gap-5">
                    <i class='bx bx-error top-5 left-5 text-red-500 text-5xl'></i>
                    <p class="text-lg font-semibold text-center">
                        You are about to delete:
                    </p>
    
                    <p id="confirmation-name" class="text-red-500 text-lg font-semibold text-center"></p>
    
                    <p class="text-center">
                        This action cannot be undone.
                    </p>
    
                    <div class="flex w-full gap-10 justify-center">
                        <button id="delete-button" 
                                class="shadow-md bg-red-500 text-zinc-100 rounded-lg px-4 py-2 hover:bg-zinc-100 hover:text-red-500 hover:border-red-500 border-2 border-transparent duration-200">
                            Delete
                        </button>
                        <button id="cancel-delete-button"
                                class="shadow-md bg-mainBg text-gray-600 rounded-lg px-4 py-2 hover:bg-gray-500 hover:text-zinc-100 border-gray-500 border-2 duration-200">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </template>

        <template id="project-card">
            <div data-open="false" 
                class="w-full flex items-center min-h-[5rem] border-b-2 border-white
                        [&>div]:flex-1 [&>div]:text-left [&>a]:flex-1 [&>a]:text-left [&>p]:flex-1
                        phone:flex-col phone:rounded-lg phone:bg-slate-100 phone:items-start phone:mb-4 
                        phone:min-h-0 phone:border-transparent phone:border-b-0 phone:shadow-lg">
        
                <a type="drop-down" 
                class="flex items-center justify-between max-w-full overflow-hidden break-words phone:select-none expand-shadow
                        phone:bg-gray-200 w-full phone:p-4 phone:rounded-lg phone:cursor-pointer">
                    
                    <span class="hidden phone:block">
                        <i class="bx bx-chevron-up text-3xl rotate-180"></i>
                    </span>
                </a>
            
                <p class="flex px-3 phone:mb-2 phone:mt-3 phone:w-full">
                    <a class="flex items-center member-frontend cursor-pointer">
                        <span class="text-xl"></span>
                        <i class="bx bx-user text-2xl"></i>
                    </a>
                </p>

                <div class="flex">
                    <a type="add-members" class="flex p-2 rounded-lg cursor-pointer text-members-text-green hover:bg-members-bg-green">
                        <i class="bx bx-user-plus text-3xl"></i>
                    </a>

                </div>

                <div class="modify-project flex px-3 phone:mb-2 phone:w-full phone:hidden">
                    <a class="flex flex-row items-center break-words rounded-lg p-[0.20rem] cursor-pointer text-zinc-900 duration-500
                            hover:bg-red-500 hover:text-white
                            phone:w-full">
                        <i class="bx bx-edit text-3xl"></i>
                        <span class="ml-3 font-bold hidden phone:block">
                            Modify
                        </span>
                    </a>
                </div>

                <div class="flex px-3 phone:mb-2 phone:w-full phone:hidden">
                    <a type="delete-button" 
                    class= "flex flex-row items-center break-words duration-500 rounded-lg p-[0.20rem] cursor-pointer text-zinc-900
                            hover:bg-red-500 hover:text-white
                            phone:w-full">
                        <i class="bx bx-trash text-3xl"></i>
                        <span class="ml-3 font-bold hidden phone:block">
                            Delete
                        </span>
                    </a>
                </div>
            </div>
        </template>

        <template id="pagination-li">
            <li class="flex">
                <a class="rounded-lg leading-tight py-1 px-2 border border-gray-300 cursor-pointer duration-300 pagination"></a>
            </li>
        </template>

        <div class="mx-10 phone:mx-5">
            <div class="flex mb-12">
                <a href="/project/" 
                   class="rounded-md bg-accent-1 px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline 
                          phone:px-4 phone:py-3 phone:text-lg">
                    Create project
                </a>
            </div>

            <div class="flex gap-5 justify-between items-center 
                        phone:items-start mb-12 phone:mb-5 phone:flex-col">
                <h1 class="font-semibold text-xl">Projects</h1>
                <div class="relative phone:w-full phone:mb-6">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <i class='bx bx-search'></i>
                    </div>
                    <input type="text" id="search-bar" placeholder="Search Project"
                           class="block pl-10 p-2 w-full bg-zinc-50 shadow-md rounded-lg
                                  focus:outline focus:outline-slate-600 focus:duration-200 focus:outline-2">
                </div>
            </div>

            <div class="w-full flex 
                        [&>h3]:flex-1 [&>h3]:text-left [&>h3]:font-bold 
                        phone:hidden">        
                <h3>Title</h3>
                <h3>Members</h3>
                <h3>Add Member</h3>
                <h3>Modify</h3>
                <h3>Delete</h3>
            </div>

            <div id="project-container"></div>

            <div class="flex items-center justify-between bg-slate-50 w-full p-4 rounded-lg mt-4 overflow-ellipsis
                        tablet:flex-col phone:px-2">
                <div class="flex items-center gap-2">
                    <p class="flex">
                        Rows per page:
                    </p>
                    <select id="max-rows" class="p-2 bg-slate-50 cursor-pointer">
                        <option value="5">5</option>
                        <option selected value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                    </select>
                    <span id="row-range"></span>
                </div>
                
                <div id="pagination" class="flex justify-end gap-2 w-[50%] tablet:w-full tablet:justify-center">
                    <ul id="pages" class="flex gap-3 flex-wrap"></ul>
                </div>
            </div>
        </div>
    </div>
</main>
<div id="dark-separator" class="fixed top-0 bottom-0 w-screen h-screen bg-black opacity-20 invisible"></div>
<script defer type="module" src="/scripts/projectList.js"></script>
</body>
</html>
