<div id="popup-<%= popupId %>" class="delete-cancel-popup absolute content-center text-center items-center top-1/2 mx-auto w-full hidden">
    <div class="flex flex-wrap justify-center w-full">
        <div class=" flex flex-wrap justify-start break-words">
            <form>
                <div class=" bg-zinc-50 rounded-lg w-8/12 break-words space-x-5 p-10 space-y-4 shadow-lg">
                    <p class="">
                        Are you sure you want to delete this project?
                        <%= project.project_name %>
                    </p>
                    <button onclick="deleteProject('<%=project.id_project%>', event)"
                     class="shadow-md bg-mainBg text-red-500 rounded-lg p-2 hover:bg-red-500 hover:text-zinc-100 duration-200">
                            Delete
                    </button>
                    <button id="cancel-project-button"
                    onclick="closePopup('<%= popupId %>', event)"
                     class="shadow-md bg-mainBg text-red-500 rounded-lg p-2  hover:bg-gray-400 hover:text-zinc-100  duration-200">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>