<div id="popupMember-<%= popupId %>" class="modify-cancel-popup absolute content-center text-center items-center top-1/2 mx-auto w-full hidden">
    <div class="flex flex-wrap justify-center w-full">
        <div class=" flex flex-wrap justify-start">
            <form id="update-member-form-<%= project.id_project%>">
                <div class=" bg-zinc-50 rounded-lg w-full break-words space-x-5 p-10 space-y-4 shadow-lg">
                  <ul class="text-left overflow-y-auto overflow-x-clip custom-scrollbar max-h-[5.0rem] p-5" id="dropDownMembers" >
                  </ul>
                  <button id="save-member-button" onclick="sendMembers(<%= project.id_project%>)"
                   class="shadow-md bg-mainBg text-green-500 rounded-lg p-2  hover:bg-gray-400 hover:text-zinc-100  duration-200">
                      Save
                  </button>
                    <button id="cancel-project-button" onclick="closePopupMember('<%= popupId %>',event)"
                     class="shadow-md bg-mainBg text-red-500 rounded-lg p-2  hover:bg-gray-400 hover:text-zinc-100  duration-200">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>