<div id="popupAddMember-<%= popupId %>" class="delete-cancel-popup absolute content-center text-center items-center top-1/2 mx-auto w-full hidden">
    <div class="flex flex-wrap justify-center w-full">
        <div class=" flex flex-wrap justify-start">
            <div class=" bg-zinc-50 rounded-lg w-8/12 break-words space-x-5 p-10 space-y-4 shadow-lg">
                <ul>
                    <li>
                        Add Member 
                    </li>
                    <button id="cancel-project-button"
                    class=" shadow-md bg-mainBg text-red-500 rounded-lg p-2  hover:bg-gray-400 hover:text-zinc-100  duration-200">
                    Cancel
                    </button>
                </ul>
            </div>
        </div>
    </div>
</div>